.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.1rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #4479d9 !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #e9ff00 !important;
}
.bg-danger {
  background-color: #616161 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info,
.btn-info:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #e9ff00 !important;
  border-color: #e9ff00 !important;
  color: #000000 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #9aa800 !important;
  border-color: #9aa800 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #000000 !important;
  background-color: #9aa800 !important;
  border-color: #9aa800 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #616161 !important;
  border-color: #616161 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #363636 !important;
  border-color: #363636 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #363636 !important;
  border-color: #363636 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: #d4d4d4 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #4479d9;
  color: #4479d9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: #2150a5 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #e9ff00;
  color: #e9ff00;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #9aa800 !important;
  background-color: transparent!important;
  border-color: #9aa800 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #000000 !important;
  background-color: #e9ff00 !important;
  border-color: #e9ff00 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #616161;
  color: #616161;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #363636 !important;
  background-color: transparent!important;
  border-color: #363636 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #616161 !important;
  border-color: #616161 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #000000 !important;
}
.text-secondary {
  color: #ffffff !important;
}
.text-success {
  color: #4479d9 !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #e9ff00 !important;
}
.text-danger {
  color: #616161 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #cccccc !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1f4a98 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #8c9900 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #2e2e2e !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #000000;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #e9ff00;
}
.alert-danger {
  background-color: #616161;
}
.mbr-gallery-filter li.active .btn {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #eef2fb;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fbffcc;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #a1a1a1;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #000000 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5rem;
}
blockquote {
  border-color: #000000;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #000000;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #000000 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffffff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23000000' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tAczOJQqtU {
  overflow-x: hidden !important;
}
.cid-tAczOJQqtU .mbr-section-title {
  color: #000000;
}
.cid-tAczOJQqtU .mbr-section-title span {
  color: #ffbc00;
}
.cid-tAczOJQqtU .mbr-text {
  color: #000000;
  letter-spacing: 5px;
  font-weight: 100;
}
.cid-tAczOJQqtU .scroll-wrapper {
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  background-repeat: repeat;
  z-index: 0;
  -webkit-animation-duration: 35s !important;
  animation-duration: 35s;
  background-image: url("../../../assets/images/mapoutline-background-png-2000x1600.png");
  -webkit-animation: scroll-wrapper linear infinite;
  -moz-animation: scroll-wrapper linear infinite;
  -o-animation: scroll-wrapper linear infinite;
  animation: scroll-wrapper linear infinite;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.cid-tAczOJQqtU .scroll-wrapper.second {
  left: calc(100% - 1px);
}
.cid-tAczOJQqtU .mbr-overlay {
  z-index: 1;
}
.cid-tAczOJQqtU .block-content {
  z-index: 2;
}
@keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-moz-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-o-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.cid-uFIv3zogVH {
  background-image: url("../../../assets/images/chicago-vagabond-studios-background-2.png");
}
.cid-uFIv3zogVH h1 {
  color: #616161;
}
.cid-uFIv3zogVH h2,
.cid-uFIv3zogVH h3,
.cid-uFIv3zogVH p {
  color: #767676;
}
.cid-uFIv3zogVH .mbr-section-subtitle {
  font-style: italic;
}
.cid-uFIv3zogVH H1 {
  color: #ffffff;
}
.cid-uFIv3zogVH .mbr-text,
.cid-uFIv3zogVH .mbr-section-btn {
  color: #ffffff;
}
.cid-uFIv3zogVH H3 {
  color: #e9ff00;
}
.cid-tBdieJTncI {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tBdieJTncI .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBdieJTncI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBdieJTncI .mbr-section-title {
  text-align: center;
}
.cid-uFIoKnZFtn {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uFIoKnZFtn .mbr-fallback-image.disabled {
  display: none;
}
.cid-uFIoKnZFtn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uFIoKnZFtn .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uFIoKnZFtn .row {
    flex-direction: column-reverse;
  }
  .cid-uFIoKnZFtn .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-uFIoKnZFtn .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uFIoKnZFtn .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-uFIoKnZFtn .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-uFIoKnZFtn .mbr-text,
.cid-uFIoKnZFtn .mbr-section-btn {
  text-align: left;
}
.cid-uFIoKnZFtn .card-title {
  text-align: left;
}
.cid-uZHscvbOnl {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uZHscvbOnl hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uZHscvbOnl .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uZHscvbOnl .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-tBeyuAiH9D {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tBeyuAiH9D .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBeyuAiH9D .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBeyuAiH9D .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tBeyuAiH9D .row {
    flex-direction: column-reverse;
  }
  .cid-tBeyuAiH9D .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tBeyuAiH9D .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tBeyuAiH9D .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-tBeyuAiH9D .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tBeyuAiH9D .mbr-text,
.cid-tBeyuAiH9D .mbr-section-btn {
  text-align: left;
}
.cid-tBeyuAiH9D .card-title {
  text-align: left;
}
.cid-uZHmemMnq2 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uZHmemMnq2 hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uZHmemMnq2 .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uZHmemMnq2 .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-uZHmcwTNDj {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uZHmcwTNDj .mbr-fallback-image.disabled {
  display: none;
}
.cid-uZHmcwTNDj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uZHmcwTNDj .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uZHmcwTNDj .row {
    flex-direction: column-reverse;
  }
  .cid-uZHmcwTNDj .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-uZHmcwTNDj .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uZHmcwTNDj .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-uZHmcwTNDj .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-uZHmcwTNDj .mbr-text,
.cid-uZHmcwTNDj .mbr-section-btn {
  text-align: left;
}
.cid-uZHmcwTNDj .card-title {
  text-align: left;
}
.cid-uFIyvWw03O {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uFIyvWw03O hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uFIyvWw03O .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uFIyvWw03O .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-tBexQKUOub {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tBexQKUOub .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBexQKUOub .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBexQKUOub .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tBexQKUOub .row {
    flex-direction: column-reverse;
  }
  .cid-tBexQKUOub .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tBexQKUOub .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tBexQKUOub .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-tBexQKUOub .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tBexQKUOub .mbr-text,
.cid-tBexQKUOub .mbr-section-btn {
  text-align: left;
  color: #000000;
}
.cid-tBexQKUOub .card-title {
  text-align: left;
  color: #000000;
}
.cid-tBeyU0WBoR {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-tBeyU0WBoR hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-tBeyU0WBoR .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-tBeyU0WBoR .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-tBcJOwHlSs {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tBcJOwHlSs .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBcJOwHlSs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBcJOwHlSs .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tBcJOwHlSs .row {
    flex-direction: column-reverse;
  }
  .cid-tBcJOwHlSs .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tBcJOwHlSs .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tBcJOwHlSs .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-tBcJOwHlSs .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tBcJOwHlSs .mbr-text,
.cid-tBcJOwHlSs .mbr-section-btn {
  text-align: left;
}
.cid-tBcJOwHlSs .card-title {
  text-align: left;
}
.cid-uZHrQMDL5k {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uZHrQMDL5k hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uZHrQMDL5k .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uZHrQMDL5k .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-uyy6XWYzh3 {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-uyy6XWYzh3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uyy6XWYzh3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uyy6XWYzh3 .mbr-section-title {
  text-align: center;
}
.cid-tBcOXh4O3s {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tBcOXh4O3s .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBcOXh4O3s .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBcOXh4O3s .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tBcOXh4O3s .row {
    flex-direction: column-reverse;
  }
  .cid-tBcOXh4O3s .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tBcOXh4O3s .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tBcOXh4O3s .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-tBcOXh4O3s .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tBcOXh4O3s .mbr-text,
.cid-tBcOXh4O3s .mbr-section-btn {
  text-align: left;
}
.cid-tBcOXh4O3s .card-title {
  text-align: left;
}
.cid-uyy8hdkzLT {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uyy8hdkzLT hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uyy8hdkzLT .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uyy8hdkzLT .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-uyy88dDDjx {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uyy88dDDjx .mbr-fallback-image.disabled {
  display: none;
}
.cid-uyy88dDDjx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uyy88dDDjx .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uyy88dDDjx .row {
    flex-direction: column-reverse;
  }
  .cid-uyy88dDDjx .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-uyy88dDDjx .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uyy88dDDjx .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-uyy88dDDjx .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-uyy88dDDjx .mbr-text,
.cid-uyy88dDDjx .mbr-section-btn {
  text-align: left;
}
.cid-uyy88dDDjx .card-title {
  text-align: left;
}
.cid-uZHeegMyOa {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uZHeegMyOa hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uZHeegMyOa .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uZHeegMyOa .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-tBcOV1E1ZE {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tBcOV1E1ZE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBcOV1E1ZE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBcOV1E1ZE .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tBcOV1E1ZE .row {
    flex-direction: column-reverse;
  }
  .cid-tBcOV1E1ZE .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tBcOV1E1ZE .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tBcOV1E1ZE .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-tBcOV1E1ZE .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tBcOV1E1ZE .card-title {
  color: #000000;
}
.cid-tBcOV1E1ZE .mbr-text,
.cid-tBcOV1E1ZE .mbr-section-btn {
  color: #000000;
}
.cid-uZHtfHi9Iz {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uZHtfHi9Iz hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uZHtfHi9Iz .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uZHtfHi9Iz .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-uZNpeF9zmq {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-uZNkdAaccd {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uZNkdAaccd hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uZNkdAaccd .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uZNkdAaccd .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-uZHtvCzHEC {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-uZHtvCzHEC .mbr-fallback-image.disabled {
  display: none;
}
.cid-uZHtvCzHEC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uZHtvCzHEC .mbr-section-title {
  text-align: center;
}
.cid-uZHdAi1P2S {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uZHdAi1P2S .mbr-fallback-image.disabled {
  display: none;
}
.cid-uZHdAi1P2S .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uZHdAi1P2S .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uZHdAi1P2S .row {
    flex-direction: column-reverse;
  }
  .cid-uZHdAi1P2S .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-uZHdAi1P2S .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uZHdAi1P2S .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-uZHdAi1P2S .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-uZHdAi1P2S .mbr-text,
.cid-uZHdAi1P2S .mbr-section-btn {
  text-align: left;
}
.cid-uZHdAi1P2S .card-title {
  text-align: left;
}
.cid-uIxe5z28CU {
  background-color: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-uIxe5z28CU img {
  object-fit: contain;
  border-radius: 0 !important;
}
.cid-uZSPxLqO8i {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-uZSPxLqO8i .mbr-fallback-image.disabled {
  display: none;
}
.cid-uZSPxLqO8i .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uZSPxLqO8i .mbr-section-title {
  color: #ffffff;
}
.cid-tAcQWljCJY {
  background-image: url("../../../assets/images/italy-back-2.jpg");
}
.cid-tAcQWljCJY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tAcQWljCJY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tAcQWljCJY .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tAcQWljCJY .image-wrap img {
    display: block;
    margin: auto;
    width: 30%;
  }
}
.cid-tAcQWljCJY .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
.cid-tAcQWljCJY .mbr-text,
.cid-tAcQWljCJY .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-tAcTbZmOHy {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
.cid-tAcTbZmOHy .media-container-row .mbr-text {
  color: #616161;
}
.cid-uyxSSkc766 {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url("../../../assets/images/04-nantucketmapphoto.jpg");
}
.cid-uyxSSkc766 h1 {
  color: #616161;
}
.cid-uyxSSkc766 h2,
.cid-uyxSSkc766 h3,
.cid-uyxSSkc766 p {
  color: #767676;
}
.cid-uyxSSkc766 .mbr-section-subtitle {
  font-style: italic;
}
.cid-uyxSSkc766 H1 {
  color: #ffffff;
}
.cid-uyxSSkc766 .mbr-text,
.cid-uyxSSkc766 .mbr-section-btn {
  color: #ffffff;
}
.cid-uyxSSkc766 H3 {
  color: #e9ff00;
}
.cid-uwQuLKzGhh {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uwQuLKzGhh .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwQuLKzGhh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uwQuLKzGhh .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uwQuLKzGhh .row {
  flex-direction: row-reverse;
}
.cid-uwQuLKzGhh img {
  width: 100%;
}
.cid-uwQACc57u8 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uwQACc57u8 hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uwQACc57u8 .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uwQACc57u8 .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-uwQAJeg2x3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uwQAJeg2x3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwQAJeg2x3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uwQAJeg2x3 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uwQAJeg2x3 .row {
  flex-direction: row-reverse;
}
.cid-uwQAJeg2x3 img {
  width: 100%;
}
.cid-uwQAD6qxzB {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uwQAD6qxzB hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uwQAD6qxzB .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uwQAD6qxzB .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-uwQAK4rHmt {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uwQAK4rHmt .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwQAK4rHmt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uwQAK4rHmt .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uwQAK4rHmt .row {
  flex-direction: row-reverse;
}
.cid-uwQAK4rHmt img {
  width: 100%;
}
.cid-uwQAEklrgS {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uwQAEklrgS hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uwQAEklrgS .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uwQAEklrgS .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-uwQALKevFY {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uwQALKevFY .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwQALKevFY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uwQALKevFY .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uwQALKevFY .row {
  flex-direction: row-reverse;
}
.cid-uwQALKevFY img {
  width: 100%;
}
.cid-uwQADKboPu {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uwQADKboPu hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uwQADKboPu .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uwQADKboPu .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-uwQAugi7Dx {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uwQAugi7Dx .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwQAugi7Dx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uwQAugi7Dx .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uwQAugi7Dx .row {
  flex-direction: row-reverse;
}
.cid-uwQAugi7Dx img {
  width: 100%;
}
.cid-uwL0HFP574 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uwL0HFP574 hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uwL0HFP574 .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uwL0HFP574 .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-uwQBoXsQpD {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uwQBoXsQpD .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwQBoXsQpD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uwQBoXsQpD .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uwQBoXsQpD .row {
  flex-direction: row-reverse;
}
.cid-uwQBoXsQpD img {
  width: 100%;
}
.cid-uwQBzK8LKm {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uwQBzK8LKm hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uwQBzK8LKm .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uwQBzK8LKm .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-uwQCbBtd8p {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uwQCbBtd8p .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwQCbBtd8p .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uwQCbBtd8p .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uwQCbBtd8p .row {
  flex-direction: row-reverse;
}
.cid-uwQCbBtd8p img {
  width: 100%;
}
.cid-uwQByTFOSF {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uwQByTFOSF hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uwQByTFOSF .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uwQByTFOSF .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-uwQCczmgsv {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uwQCczmgsv .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwQCczmgsv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uwQCczmgsv .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uwQCczmgsv .row {
  flex-direction: row-reverse;
}
.cid-uwQCczmgsv img {
  width: 100%;
}
.cid-uwQCe86JZ5 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-uwQCe86JZ5 hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 88%;
}
.cid-uwQCe86JZ5 .progress {
  background: #cccccc;
  opacity: 1;
  height: 1px;
  overflow: hidden;
  position: relative;
}
.cid-uwQCe86JZ5 .progress::before {
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: #000000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 100px;
}
@keyframes progress {
  from {
    margin-left: 0%;
    width: 94px;
  }
  to {
    margin-left: 100%;
    width: 94px;
  }
}
.cid-uwQCI3xCr4 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uwQCI3xCr4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uwQCI3xCr4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uwQCI3xCr4 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-uwQCI3xCr4 .row {
  flex-direction: row-reverse;
}
.cid-uwQCI3xCr4 img {
  width: 100%;
}
.cid-uGXUe425nn {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-uGXUe425nn .mbr-fallback-image.disabled {
  display: none;
}
.cid-uGXUe425nn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uwQDQ43PzX {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
.cid-uwQDQ43PzX .media-container-row .mbr-text {
  color: #616161;
}
#custom-html-b5 {
  /* Type valid CSS here */
}
#custom-html-b5 #openseadragon {
  width: 100vw;
  height: 100vh;
}
#custom-html-ba {
  /* Type valid CSS here */
}
#custom-html-ba #openseadragon {
  width: 100vw;
  height: 100vh;
}
#custom-html-be {
  /* Type valid CSS here */
}
#custom-html-be #openseadragon {
  width: 100vw;
  height: 100vh;
}
#custom-html-bf {
  /* Type valid CSS here */
}
#custom-html-bf #openseadragon {
  width: 100vw;
  height: 100vh;
}
#custom-html-bi {
  /* Type valid CSS here */
}
#custom-html-bi #openseadragon {
  width: 100vw;
  height: 100vh;
}
